/* global styles */
*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "courgette";
}

p{
    letter-spacing: 0.4rem;
}

/* side bar */

/*================
SIDE BAR
==================*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hotpink;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.8s;
    transform: translateX(-100%);
}


.show-sidebar {
    transform: translateX(0);
}

.show-aside {
    transform: translateX(0);
}

.sidebar-links {
    list-style: none;
    text-align: center;
}

.sidebar li a {
    color: white;
    font-weight: bolder;
}

.social-icons a {
    color: white;
}

.sidebar-links a {
    list-style: none;
    color: black;
    text-transform: uppercase;
    display: inline-block;
    margin: 1.5rem;

}



.social-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    list-style: none;
    width: 20rem;
    margin-top: 3rem;
}

.social-icon {
    font-size: 1.6rem;
    color: #61892f;
}

/* end of side bar */

/* nav bar and links */

.nav-links {
    display: none;
}

.nav-links li a {
    color: white;
    font-weight: bolder;
    /* border: 2px solid white; */
    padding: 1rem;
    border-radius: 18px;
    font-size: 1.25rem;

    position: relative;
    top: 0;
    transition: top ease 0.5s;

    /* background: hotpink; */
}

.nav-links li a:hover {
    color: hotpink;
    transition: 0.8s;
    top: -4px;

}

.nav {
    padding: 1rem;
    display: grid;
    align-items: center;

}

@media screen and (min-width: 768px) {
    .nav {
        /* background-color:;
            box-shadow: ; */

    }

    .nav-btn {
        display: none;
    }

    .nav-links {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        justify-self: end;
        column-gap: 4rem;
    }

    .nav-links a {
        font-weight: bold;

    }

    .nav-center {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }
}


.logo {
    border-radius: 50%;
    width:auto;
    height:auto;

}




.nav-links li {
    text-decoration: none;
    list-style: none;
    color: white;
}

.nav-header li {
    color: white;
}



a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.nav-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.nav img {
    width: 25%;
}



.title {
    text-transform: uppercase;
    color: hsl(211, 45%, 81%);
    box-shadow: hsl(211, 45%, 81%);
    padding-bottom: 1rem;
}

.nav-btn {
    background: transparent;
    border-color: transparent;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    justify-self: end;
}

/* end of nav bar and links */

.main-shop {
    margin: 3rem 0;
    z-index: 1;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)), url("../images/cakebanner.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    /* filter: grayscale(80%); */
    background-attachment: fixed;
    object-fit: cover;
}

.header-title {
    display: grid;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;
    color: white;
    font-weight: 900;

}

.header-title h1 {
    /* border: white 2px solid; */
    padding: 2rem;
    border-radius: 25px;
    background: hotpink;
    color: white;
}




#popup {
    background: honeydew;
    border: 5px solid skyblue;
    border-radius: 15px;
    display: grid;
    place-items: center;
    position: fixed;
    visibility: hidden;
    z-index: 4;
    width: 50%;
    height: 50%;
    transform: translate(50%, 50%);

}

#popup.active {
    visibility: visible;

    z-index: 4;
}

.popper {
    text-align: center;
    padding: 2rem 0;
}

.cart-footer {
    background: white;

    border-radius: 15px;
    padding: 1rem 0;


}

.units {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.checkout {
    color: black;
    text-transform: uppercase;
}

.subtotal {
    padding: 1.2rem;
    color: black;
    text-transform: uppercase;

}




/*Alert for when item added to cart */

/* .alert{
        height: 4rem;
        padding: 2rem;
        text-align: center;
        align-items: center;
        text-transform: uppercase;
        margin-left: 35%;
        margin-right: 35%;
        font-weight: bolder;
        transition: 0.9s;
        border-radius: 8px;
        color: aquamarine;
    
    }

    .alert-success {
        color: black;
        background: white;
        text-transform: uppercase;
        padding: 1rem;
    
    } */

/* headings */

.shop-item-title {
    padding: 1rem 0;

}

.shop-items {
    width: 100%;
}

.shop-item {
    background: hotpink;
    border-radius: 15px;
    padding: 1.75rem;
    width: 100%;
}

.shop-item p {
    color: white;
    text-transform: uppercase;
}

.shop-items img {
    margin: 0.75rem 0;
}

/*Buttons */



.add-btn {
    position: relative;
    border: none;

    text-align: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    width: 100px;
    padding: 0.5rem;
    border-radius: 12px;
    margin: 0.6rem 0;
    text-transform: uppercase;
    background: blue;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}

.add-btn:after {
    content: "";
    background: bisque;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 1s
}

.add-btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}







.units {
    display: grid;
    place-items: center;
    /* position: relative; */
}

.numbers {
    font-size: 1.3rem;
}

.btn-plus {

    /* position: absolute; */
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
    margin: 0.4rem 0;
    background: black;
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    cursor: pointer;

}

.btn-minus {
    margin: 0.4rem 0;
    background: black;
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.x {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}





.add-btn {
    width: 100px;
    padding: 0.5rem;
    border-radius: 12px;
    margin: 0.6rem 0;
    text-transform: uppercase;
    background: black;
    color: ivory;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background 400ms;
}

.add-btn:hover {
    background: white;
    color: black;
    transition: 0.8s;
}

.btn-remove {
    width: 100px;
    padding: 0.5rem;
    border-radius: 12px;
    margin: 0.6rem 0;
    text-transform: uppercase;
    background: black;
    color: ivory;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background 400ms;
}


.cart-number {
    position: absolute;
    right: -79%;
    top: 50%;
    transform: translate(-125%, -125%);
    margin-top: 0;
    background: black;
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}

.close-btn-1 {
    background: transparent;
    border: transparent;
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    color: white;
}

.close-btn {
    background: transparent;
    padding: 1.5rem;
    border: none;
    color: black;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    /* position: relative;  */
}


.open-btn {
    background: transparent;
    padding: 0.2rem;
    border: 2px solid black;
    color: hotpink;
    position: absolute;
    /* bottom: ; */
    right: 0.65rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}

.cart-btn {
    background: transparent;
    padding: 1.5rem;
    border: 2px solid black;
    color: hotpink;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}



i {
    font-size: 2rem;


}





/*Side bar*/

.fixed-content {
    top: 0;
    bottom: 0;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cart {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background: rgb(243, 242, 242);
    display: grid;
    align-items: center;
    justify-content: center;
    transition: 1s;
    transform: translateX(-100%);

}

.cart-item {
    display: grid;
}

.cart img {
    border-radius: 50%;
    margin: 1.2rem 0;
}




.show-sidebar {
    transform: translateX(0);
    transition: 1s;


}

.sidebar-links {
    list-style: none;
    text-align: center;
    color: black;
}

.sidebar-links a {
    list-style: none;
    color: black;
    text-transform: uppercase;
    display: inline-block;
    margin: 1.5rem;

}

/* section center */

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}

.cart-footer {
    color: gray;
    font-weight: bolder;
}




@media screen and (max-width: 992px) {
    .section-center {
        width: 95vw;
    }
}

/*headings*/

h3 {
    text-align: center;
    text-transform: uppercase;
}

/*Buttons*/



.filter-btn:hover {
    background: hotpink;
    color: white;
    transition: 0.8s;
    font-weight: 900;
}

.filter-btn {
    width: 100px;
    padding: 18rem;
    border-radius: 12px;
    margin: 0.6rem 0;
    text-transform: uppercase;
    background: black;
    color: ivory;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background 400ms;

}

.filter-btn {
    position: relative;
    border: none;

    text-align: center;
    -webkit-transition-duration: 0.8s;
    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    width: 100px;
    padding: 1.2rem 0;
    margin: 3rem 0;
    border-radius: 12px;
    margin: 0.6rem 0;
    text-transform: uppercase;
    background-color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.filter-btn:after {
    content: "";
    background: hotpink;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 1s
}

.filter-btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.filter-btn {
    margin: 2rem 0;
}


.filter-btns {
    height: 0;

    overflow: hidden;
    transition: 0.8s;

}



.show-filter-btns {
    height: 27rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    place-items: center;


}

.open-filter-btns {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;



}

.open-filter {

    width: 200px;
    padding: 2rem;
    border-radius: 12px;
    margin: 0.6rem 0;
    text-align: center;
    text-transform: uppercase;
    background: hotpink;
    color: ivory;
    font-weight: bolder;
    cursor: pointer;
    position: relative;
    overflow: hidden;


}


/* 
@media screen and (min-width:676px){
    .filter-btns{
        display: none;
        grid-template-columns: 1fr;
        column-gap: 2rem;
    }}

@media screen and (min-width:992px){
    .filter-btns{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
 */


/*Unserline*/

.underline {
    margin-right: auto;
    margin-left: auto;
    height: 0.3rem;
    width: 5rem;
    margin-top: 2rem;
    background-color: hotpink;
    margin-bottom: 2rem;
}

.underline-1 {
    margin-right: auto;
    margin-left: auto;
    height: 0.1rem;
    width: 40rem;
    margin-top: 2rem;
    background-color: black;
    margin-bottom: 2rem;
}

/*cart section*/

.cart-items-center {

    /* background-color: rgb(34, 34, 34); */
    padding: 3rem;
    text-align: center;
    border-radius: 15px;
    gap: 6rem;

}

.cart-items {
    display: grid;
    background: hotpink;
    padding: 1.75rem 3.5rem;
    margin: 1rem 0;
    place-items: center;
    border-radius: 12px;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
}

/* services section */

.available-services {
    background: hotpink;
    height: 60vh;
    width: 100%;
    border-radius: 20px;
    margin-top: 1.5rem;
}

.available-services i {
    margin: 1.5rem 0;
    color: white;
    font-size: 3rem;
}

.services {
    margin: 2.5rem 0;
}

.services h3{
    margin: 1rem 0;
}

.available-services p {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.2rem;
    color: whitesmoke;
    font-weight: 900;
    font-family: 'Courgette';
    letter-spacing: 0.35rem;
    line-height: 1.75rem;

}


.services-center {
    display: grid;
    place-items: center;
    /* background-color: rgb(34, 34, 34); */
    padding: 3rem;
    text-align: center;
    border-radius: 15px;
    gap: 6rem;

}

@media screen and (min-width:676px) {
    .services-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}

@media screen and (min-width:992px) {
    .services-center {
        grid-template-columns: 1fr 1fr 1fr;
    }
}




/*Shop*/

.shop-items-center {
    display: grid;
    place-items: center;
    background-color: rgb(34, 34, 34);
    padding: 3rem;
    text-align: center;
    border-radius: 15px;
    gap: 6rem;

}

.shop-items p {
    max-height: 3rem;
}



.shop-items img {
    border-radius: 50%;
}

@media screen and (min-width:676px) {
    .shop-items-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}

@media screen and (min-width:992px) {
    .shop-items-center {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/*Cart items*/

.cart-items-center {
    display: grid;
    place-items: center;
    background-color: rgb(34, 34, 34);
    padding: 3rem;
    text-align: center;
    border-radius: 15px;
    gap: 6rem;
}

@media screen and (min-width:992px) {
    .cart-items-center {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
}

@media screen and (min-width:676px) {
    .cart-items-center {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 2rem;
    }
}

.cart-items {

    background: hotpink;
    padding: 1.75rem 3.5rem;
    margin: 1rem 0;
    place-items: center;
    border-radius: 12px;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
}

.cart-total {
    display: grid;
    place-items: center;
    background: hotpink;
    color: white;
    padding: 2rem 0;
    max-width: 50%;
    margin: auto;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 12px;
}

.cart-quantity-input {
    width: 150px;
}



@media screen and (min-width:992px) {
    .cart-total {
        display: grid;
        grid-template-columns: 1fr;
    }
}



.cart-quantity-input {
    width: 50px;
}

@media screen and (min-width:992px) {
    .cart-row {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
}

.cart-row img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.cart-footer {
    text-align: center;
    background: hotpink;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 20%;
    margin-right: 20%;

}

/* show item added */
.show-item {
    transform: translateX(0);
    transition: 1s;
}

.alert-item {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background: rgb(243, 242, 242);
    /* display: grid;
        align-items: center;
        justify-content: center;   */
    transition: 1s;
    transform: translateX(-100%);

}

/* experiences */

.experiences {
    display: grid;
    background: rgb(255, 252, 229);
    padding: 3rem 0;
    place-items: center;

}

.available-experiences {
    display: grid;
    place-items: center;
    /* background-color: rgb(34, 34, 34); */
    padding: 3rem;
    text-align: center;
    border-radius: 15px;
    gap: 6rem;
    grid-template-columns: 1fr 1fr;



}



.available-experiences .img-1 {

    width: 100%;
    height: 22rem;
    border-radius: 22px;

}

.available-experiences .img-2 {
    width: 100%;
    height: 22rem;
    border-radius: 22px;


}

.img-3 {
    width: 50%;
    height: 22rem;
    border-radius: 22px;


}

.available-experiences h3 {
    letter-spacing: 1rem;
    color: hotpink;
    font-family: "courgette";
    /* margin-bottom: 20rem; */
}

.available-experiences p {
    line-height: 2rem;
    font-size: 1.25rem;
    letter-spacing: 0.35rem;
    margin-top: 1.25rem;
}

.contact {
    font-size: 1.45rem;
    color: hotpink;
    margin: 0 0.5rem;
}

/* @media screen and (max-width:300px){
        .available-experiences{
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 2rem;
        }} */

@media screen and (max-width:992px) {
    .available-experiences {
        grid-template-columns: 1fr;
    }
}

/* @media screen and (max-width:992px){
        .available-experiences img{
            max-height: 75%;
        }
    }  */

/* end of experiences */



/* start of review */

.reviews {
    margin-bottom: 2rem;
    padding: 2rem 0;
    /* background: hsl(217, 100%, 91%); */
    max-width: 90%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 8px;

}

.reviews p {

    text-transform: uppercase;
    line-height: 1.8rem;
}

.review-item-title {
    color: black;
}

.review-description {
    text-align: center;
    max-height: 75%;
    max-width: 50%;
    margin-right: 10%;
    margin-left: 10%;
    color: hotpink;

}

.review-carosel {
    display: grid;
    place-items: center;
    align-items: center;
}

.review-carosel img {
    border-top: 8px solid hotpink;
    border-right: 8px solid hotpink;
    border-radius: 50%;
    margin: 2rem 0;
    object-fit: cover;

    /* filter: grayscale(100%); */
}

.carosel-img {}

.fa-chevron-circle-left {
    margin-right: 0.5rem;
    background: transparent;
}

.fa-chevron-circle-right {
    margin-left: 0.5rem;
    background-color: transparent;
}


.fa-quote-left {
    margin-right: 85%;
}

.fa-quote-right {
    margin-left: 79%;
}

.review-btns {
    background: transparent;
}

.prev-btn {

    background: transparent;
    color: hotpink;


}

.next-btn {
    background: transparent;
    color: hotpink;
}

.next-btn:hover {
    cursor: pointer;
}

.prev-btn:hover {
    cursor: pointer;
}

/* end of review */

/* footer */

.footer {
    padding-bottom: 2rem;
    background: black;
    display: grid;
    place-items: center;
}

.footer .social-icons {
    margin-bottom: 2rem;
}

.footer .social-icon {

    color: hotpink;
}

.footer p {
    color: white;
}

/* end of footer */